/*
 * Bump Charts
 *
*/

/* class for each car make */
.volkswagen {
    fill: url(#volkswagen-logo);
    stroke: #003B73;
}

.toyota {
    fill: url(#toyota-logo);
    stroke: #808080;
}

.ford {
    fill: url(#ford-logo);
    stroke: #0B518C;
}

.opel {
    fill: url(#opel-logo);
    stroke: #808080;
}

.nissan {
    fill: url(#nissan-logo);
    stroke: #808080;
}

.renault {
    fill: url(#renault-logo);
    stroke: #808080;
}

.bmw {
    fill: url(#bmw-logo);
    stroke: #000;
}

.peugeot {
    fill: url(#peugeot-logo);
    stroke: #808080;
}

.hyundai {
    fill: url(#hyundai-logo);
    stroke: #808080;
}

.audi {
    fill: url(#audi-logo);
    stroke: #808080;
}

.skoda {
    fill: url(#skoda-logo);
    stroke: #016742;
}

.kia {
    fill: url(#kia-logo);
    stroke: #E61028;
}

/* class for each car colour */
.grey {
    fill: #808080;
    stroke: #808080;
}

.black {
    fill: #000000;
    stroke: #000000;
}

.white-ivory {
    fill: #FFFFFF;
    stroke: #808080;
}

.silver-aluminium {
    fill: #C0C0C0;
    stroke: #C0C0C0;
}

.bronze {
    fill: #CD7F32;
    stroke: #CD7F32;
}

.beige {
    fill: #C3B091;
    stroke: #C3B091;
}

.blue {
    fill: #0000FF;
    stroke: #0000FF;
}

.red-maroon {
    fill: #FF0000;
    stroke: #FF0000;
}

.brown {
    fill: #A52A2A;
    stroke: #A52A2A;
}

.yellow {
    fill: #FFFF00;
    stroke:	#FFFF00;
}

.green {
    fill: #008000;
    stroke:	#008000;
}

.purple {
    fill: #800080;
    stroke: #800080;
}

.gold {
    fill: #FFD700;
    stroke: #FFD700;
}

.orange {
    fill: #FFA500;
    stroke: #FFA500;
}

.pink {
    fill: #FF69B4;
    stroke: #FF69B4;
}

.multi-coloured {
    fill: url("#myGradient");
    stroke: #808080;
}

/* tooltip for bump chart */
.tooltip {
    position: absolute;
    padding: 10px;
    font: 12px sans-serif;
    background: #222;
    color: #fff;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0.9;
    white-space: nowrap;
    visibility: hidden;
}

/* formatting for when user hovers over or clicks on bump chart */
.click-active-makes,
.active-makes {
    opacity: 1.0;
    stroke-opacity: 1.0;
    z-index: 1000;
    r: 20;
}

.click-active,
.active {
    opacity: 1.0;
    stroke-opacity: 1.0;
    z-index: 1000;
}

path.click-active {
    stroke-width: 3.0;
}

path.active {
    stroke-width: 3.0;
}

/* format the numbers on the x and y axis */
.axis text {
    font: 10px sans-serif;
}

/* format the axis itself and the ticks */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* remove the x axis */
.x.axis path {
    display: none;
}

/* .graph-title */
/* .point */